<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Gastos</title>
    <style>
        input, label, select{
            display: flex;
            flex-direction: row;
            margin: 10px 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-gastos">
            <form action="">
                <label for="input-descricao">Descrição:</label>
                <input type="text"  id="input-descricao">
                <label for="input-valor">Valor:</label>
                <input type="text" id="input-valor">
                <label for="input-date">Data:</label>
                <input type="date" id="input-date">
                <label for="">Forma de Pagamento</label>
                <select id="formas-pagamentos">
                </select>
                <input type="button" id="btn-envio" value="Inserir Dados">

            </form>     
        </div>
        <div class="tabela-gastos">
            <table>
                <thead>
                    <th>Descrição</th>
                    <th>Data </th>
                    <th>Valor</th>
                    <th>Forma Pagamento</th>
                </thead>
                <tbody>
            
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="/static/app.js"></script>
</html>